  body {
      background-color: #f8f9fa;
  }

  .card-header {
      background-color: #00564e;
      color: white;
  }

  .btn-primary {
      background-color: #00564e;
      border-color: #00564e;
  }

  .btn-primary:hover {
      background-color: #004d46;
      border-color: #004d46;
  }